<h1>Sign in</h1>

<%= form_for(:session, :url => sessions_path) do |f| %>
  <p>
    <%= f.label :username %><br />
    <%= f.text_field :username %>
  </p>
  <p>
    <%= f.label :password %><br />
    <%= f.password_field :password %>
  </p>
  <p>
    <%= f.submit "Sign in" %>
  </p>
<% end %>

<p>New user? <%= link_to "Sign up now!", signup_path %></p>

