<h1><%= @user.username %></h1>

<% if @credentials.size == 0 %>
	<div id="noCredentialsYet">No Credentials Created Yet</div>
<% else %>

	<div class="credsTableWrapper">
		
		<div class="credsTableHeader">
		
			<div class="credsTableHeaderCol">Service</div>
			
			<div class="credsTableHeaderCol">Username</div>
			
			<div style="clear:both;"></div>
		
		</div>
		
		<div class="credsTableContent">
		
			<% @credentials.each do |credential| %>
			
			<div class="credsTableRowWrapper">
			
				<div class="credsTableRowCol"><%= credential.service %></div>
			
				<div class="credsTableRowCol"><%= credential.username %></div>
			
				<div class="credsTableRowCol" align="right"><%= link_to 'View', user_credential_path(@user, credential) %></div>
			
				<div style="clear:both;"></div>
			
			</div>
			
			<% end %>
				<div class="credsTableRowCol newCredentialButton">
					<div class="uiButton"><%= link_to 'New Credential', new_user_credential_path(@user) %></div>
				</div>
		</div>
		
		<div style="clear:both;"></div>
		
	</div>

<% end %>


