<h1>New credential</h1>

<div id= "centralizedForm">
	<%= form_for [@user, @credential], :html=> {:onSubmit => "return encrypt();"} do |f| %>
  
		<div class="textFieldLabel">
			<%= f.label :service %>
		</div>
	
		<%= f.text_field :service, :class=>"textField" %><br />
  	
		<div class="textFieldLabel">
			<%= f.label :username %>
		</div>
		
		<%= f.text_field :username, :class=>"textField" %><br />
		
  	<div class="textFieldLabel">
			<%= f.label :service_password, "Password to Encrypt" %>
		</div>
		
		<%= f.password_field :service_password, :class=>"textField" %><br />
		
  	<div class="textFieldLabel"><%= f.label :password, "loboto.me Password" %></div><%= f.password_field :password, :class=>"textField" %><br />
  	
		<%= f.hidden_field :salt %>
  	
		<%= f.hidden_field :crypted_password %>
  
		<div  class="textFieldLabel">
    	<%= f.submit "Add Credential", :class=>"btn", :onmouseover=>"this.className='btn btnhov'", :onmouseout=>"this.className='btn'" %>
  	</div>
	<% end %>
</div>

<div class="credsTableRowCol">
	<%= link_to 'Back', @user %>
</div>

<%= render 'credentials/encrypt' %>




