<h1>New credential</h1>

<div id= "centralizedForm">
<%= form_for [@user, @credential], :html=> {:onSubmit => "return encrypt();"} do |f| %>
  <div class="textFieldLabel"><%= f.label :service %></div><%= f.text_field :service, :class=>"textField" %><br />
  <div class="textFieldLabel"><%= f.label :username %></div><%= f.text_field :username, :class=>"textField" %><br />
  <div class="textFieldLabel"><%= f.label :service_password, "Password to Encrypt" %></div><%= f.password_field :service_password, :class=>"textField" %><br />
  <div class="textFieldLabel"><%= f.label :password, "loboto.me Password" %></div><%= f.password_field :password, :class=>"textField" %><br />
  <%= f.hidden_field :salt %>
  <%= f.hidden_field :crypted_password %>
  <div  class="textFieldLabel">
    <%= f.submit "Add Credential", :class=>"btn", :onmouseover=>"this.className='btn btnhov'", :onmouseout=>"this.className='btn'" %>
  </div>

	<script>
		function encrypt() {
			var user_password = $('#credential_password').val();
			var credential_password = $('#credential_service_password').val();		
		  var now = new Date();
		  var salt = calcMD5(now.getTime()+"--"+user_password);
			var key = calcMD5(salt+"--"+user_password);
			var encrypted_credential_password = GibberishAES.enc(credential_password, key);
			$('#credential_crypted_password').val(encrypted_credential_password);
			$('#credential_salt').val(salt);
	    return true;
		}	
	</script>
<% end %>
</div>
<%= link_to 'Back', @user %>
