

<p>
  <b>Service:</b>
  <%= @credential.service %>
</p>

<p>
  <b>Username:</b>
  <%= @credential.username %>
</p>


<div id="decryptButton" class="round">
	<%=link_to "Decrypt Password", "#", :onClick=>"decrypt();" %>
</div>

<%= link_to 'Edit', edit_user_credential_path(@user, @credential) %> |
<%= link_to 'Back', @user %>

<script>
	function decrypt() {
		
		$('<div id="passwordRequest">Please enter your Password Bucket password. <br /><br /> <input id="system_password" name="system_password" size="30" type="text" /><br /><br /> <div id="submitDecryptPassword" class="round"> <a id="submitDecryptPasswordLink" href="#">Submit</a></div></div>').appendTo('body');
		
		var winW = $(window).width();
		var winY = $(window).height();
		
		$("#passwordRequest").css('left', winW/2-$("#passwordRequest").width()/2);
		$("#passwordRequest").css('top', winY/2-$("#passwordRequest").height()/2);
		$("#mask").addClass("maskShow").fadeIn("slow");
		$("#passwordRequest").fadeIn("slow");
		
		$("#mask").click(function() {
			$("#mask").hide();
			$("#passwordRequest").hide();
		});
		
		$('#submitDecryptPasswordLink').click(function() {
			var submitted_password = $('#system_password').val();
			var salt = "<%=@credential.salt-%>";
			var key = calcMD5(salt+"--"+submitted_password);
			var decrypted_password = GibberishAES.dec("<%=@credential.crypted_password-%>", key);
			
			
			$("#mask").hide();
			$("#passwordRequest").hide();
			alert("your password is:"+decrypted_password);
		});
		
		// var user_password = $('#credential_password').val();
		// var credential_password = $('#credential_service_password').val();		
		// 	  var now = new Date();
		// 	  var salt = calcMD5(now.getTime()+"--"+user_password);
		// var key = calcMD5(salt+"--"+user_password);
		// var encrypted_credential_password = GibberishAES.enc(credential_password, key);
		// $('#credential_service_password').val(encrypted_credential_password);
		// $('#credential_salt').val(salt);
	}	
</script>