<p>
  <b>Service:</b>
  <%= @credential.service %>
</p>

<p>
  <b>Username:</b>
  <%= @credential.username %>
</p>

<p>
  <b>crypted password:</b>
  <%= @credential.crypted_password %>
</p>


<%= link_to 'Edit', edit_user_credential_path(@user, @credential) %> |
<%= link_to 'Back', @user %>
