<h1>Credential</h1>

<p>
  <b>Service:</b>
  <%= @credential.service %>
</p>

<p>
  <b>Username:</b>
  <%= @credential.username %>
</p>

<div id="decrypt">
	<div class="uiButton blueButton">
		<%=link_to "Decrypt Password", "#", :onClick=>"decrypt();" %>
	</div>
</div>

<input id="crypted" type="hidden" value="<%=@credential.crypted_password%>">

<%= link_to 'Back', @user %> | 
<%= link_to 'Destroy', "/#{@user.id}/destroy/#{@credential.id}", :id=>"destroyLink"%></td>



<script>
  $(document).ready(function() {
		$("#destroyLink").click(function() {
			return confirm("Are you sure?");
		});
	});
	function decrypt() {
		$('<div id="passwordRequest"><a href="#" class="closeButton">x</a><br /><br />&nbsp;&nbsp;Please enter your loboto.me password <br /><br /> <input id="system_password" name="system_password" class="textField" size="30" type="password" /><br /><br /> <div id="submitDecryptPassword" class="uiButton"> <a id="submitDecryptPasswordLink" href="#">Submit</a></div></div>').appendTo('body');
		$("body").css("overflow", "hidden");
		
		var winW = $(window).width();
		var winY = $(window).height();
		
		$("#passwordRequest").css('left', winW/2-$("#passwordRequest").width()/2);
		$("#passwordRequest").css('top', winY/2-$("#passwordRequest").height()/2);
		$("#mask").addClass("maskShow").fadeIn("slow");
		$("#passwordRequest").fadeIn("slow");
		
		$("#mask").click(function() {
			$("#mask").hide();
			$("#passwordRequest").hide();
			$("body").css("overflow", "auto");
		});
		
		$(".closeButton").click(function() {
			$("#mask").hide();
			$("#passwordRequest").hide();
			$("body").css("overflow", "auto");
		});
		
		$('#submitDecryptPasswordLink').click(function() {
			var submitted_password = $('#system_password').val();
			var salt = "<%=@credential.salt-%>";
			var key = calcMD5(salt+"--"+submitted_password);
			
			var crypted_password = $("#crypted").val();
			var decrypted_password = GibberishAES.dec(crypted_password, key);
			
			$("#mask").hide();
			$("#passwordRequest").hide();
			$("#decrypt").html("your password is: "+decrypted_password);
		});
	}	
</script>