<h1>Credential</h1>

<div style="text-align:left;padding-left:10px">
	<p>
	  <span style="font-size:20px;">Service:</span>
	  <%=h @credential.service %>
	</p>

	<p>
	  <span style="font-size:20px;">Username:</span>
	  <%=h @credential.username %>
	</p>

	<div id="decrypt">
		<div class="uiButton smallButton blueButton">
			<%=link_to "Decrypt Password", "#", :onClick=>"decrypt();" %>
		</div>
	</div>	
	<div class="uiButton smallButton redButton">
		<%= link_to 'Destroy Credential', "/#{@user.id}/destroy/#{@credential.id}", :id=>"destroyLink"%>
	</div>
</div>

<div class="credsTableRowCol"><%= link_to 'Back', @user %></div>

<input id="crypted" type="hidden" value="<%=@credential.crypted_password%>">
<input id="salt" type="hidden" value="<%=@credential.salt%>">




<script>
  $(document).ready(function() {
		$("#destroyLink").click(function() {
			return confirm("Are you sure?");
		});
	});
	function decrypt() {
		$('<div id="passwordRequest"><a href="#" class="closeButton">x</a><br /><br />&nbsp;&nbsp;Please enter your loboto.me password <br /><br /> <input id="system_password" name="system_password" class="textField" size="30" type="password" /><br /><br /> <div id="submitDecryptPassword" class="uiButton smallButton"> <a id="submitDecryptPasswordLink" href="#">Submit</a></div></div>').appendTo('body');
		
		$("body").css("overflow", "hidden");
		
		var winW = $(window).width();
		var winY = $(window).height();
		
		// This makes the pasword request div appear in the center of the screen:
		$("#passwordRequest").css('left', winW/2-$("#passwordRequest").width()/2);
		$("#passwordRequest").css('top', winY/2-$("#passwordRequest").height()/2);
		$("#mask").addClass("maskShow").fadeIn("slow");
		$("#passwordRequest").fadeIn("slow");
		
		// This makes the mask and password request div become hidden when the user clicks on the darkened background:
		$("#mask").click(function() {
			$("#mask").hide();
			$("#passwordRequest").hide();
			$("body").css("overflow", "auto");
		});
		
		// This describes the small round x button in the top right corner of the password request div:
		$(".closeButton").click(function() {
			$("#mask").hide();
			$("#passwordRequest").hide();
			$("body").css("overflow", "auto");
		});
		
		$('#submitDecryptPasswordLink').click(function() {
			var submitted_password = $('#system_password').val();
			var salt = $("#salt").val();
			var key = calcMD5(salt+"--"+submitted_password);
			
			var crypted_password = $("#crypted").val();
			var decrypted_password = "";
			try
			  {
			    decrypted_password = GibberishAES.dec(crypted_password, key);
					$("#mask").hide();
					$("#passwordRequest").hide();
					$("#decrypt").html('<span style="font-size:20px;">Your password is: </span>'+decrypted_password);
			  }
			catch(err)
			  {
				// An error is thrown if the password provided is not correct.
				
			    $("#system_password").css('background', "#ff6c6c");
			    $("#system_password").focus(function() {
					  $("#system_password").css('background', "#fffa79");
					  $("#system_password").val("");
					});
			  }
		});
	}	
</script>