<h1>Credential</h1>

<div style="text-align:left;padding-left:10px">
	<p>
	  <span style="font-size:20px;">Service:</span>
	  <%=h @credential.service %>
	</p>

	<p>
	  <span style="font-size:20px;">Username:</span>
	  <%=h @credential.username %>
	</p>

	<div id="decrypt">
		<div class="uiButton smallButton blueButton">
			<%=link_to "Decrypt Password", "#", :onClick=>"decrypt();" %>
		</div>
	</div>	
	<div class="uiButton smallButton redButton">
		<%= link_to 'Destroy Credential', "/#{@user.id}/destroy/#{@credential.id}", :id=>"destroyLink"%>
	</div>
</div>

<div class="credsTableRowCol">
	<%= link_to 'Back', @user %>
</div>

<input id="crypted" type="hidden" value="<%=@credential.crypted_password%>">
<input id="salt" type="hidden" value="<%=@credential.salt%>">

<%= render 'credentials/encrypt' %>



