<p id="notice"><%= notice %></p>

<p>
  <b>Service:</b>
  <%= @credential.service %>
</p>

<p>
  <b>Username:</b>
  <%= @credential.username %>
</p>

<p>
  <b>Hashed password:</b>
  <%= @credential.hashed_password %>
</p>


<%= link_to 'Edit', edit_credential_path(@credential) %> |
<%= link_to 'Back', credentials_path %>
