<head>
	<% unless @title == 'Javascript Required' %>
		<noscript>
			<meta HTTP-EQUIV="REFRESH" content="0; url=<%=javascript_required_url-%>"> 
		</noscript>
	<% end %>
  <title><%= title %></title>
  <%= csrf_meta_tag %>
  <!--[if lt IE 9]>
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->    
  <%= stylesheet_link_tag 'blueprint/screen', :media => 'screen' %>
  <%= stylesheet_link_tag 'blueprint/print',  :media => 'print' %>
  <!--[if lt IE 8]><%= stylesheet_link_tag 'blueprint/ie' %><![endif]-->
  <%= stylesheet_link_tag 'custom', :media => 'screen' %>
  <%= javascript_include_tag 'gibberish-aes.min.js' %>
  <%= javascript_include_tag 'jquery-1.4.2.min.js' %>
  <%= javascript_include_tag 'md5.js' %>
  <%= render 'layouts/analytics' %>
</head>