<!DOCTYPE html>
<html>
	<%= render 'layouts/head' %>
  <body>
	<div id="mask" class="mask"></div>
    <div class="container">
      <%= render 'layouts/header' %>
      <section id="mainContent">
				<% flash.each do |key, value| %>
				  <div class="flash <%= key %>"><%= value %></div>
				<% end %>
				<%= yield %>
      </section>
			<%= render 'layouts/footer' %>
    </div>
		<%= render 'layouts/barometer' %>
</body>
</html>
